/* Background Image */
#hero {
  background-attachment: fixed;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url(portfolio.jpg);
}

/* Main Section Padding */
main {
  padding: 20px;
}

/* Article Background */
article {
  background-color: white;
  width: 90%;
  margin: 0 auto;
  border-radius: 20px;
}

/* Section Background */
section {
  background-color: white;
}

/* Footer Section */
footer {
  background-color: lightgray;
  border-top: lightblue solid 9px;
  padding: 15px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

.profile {
  border-radius: 50px;
}

.portfolio {
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
}

.contact {
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
}

.photo {
  border-radius: 20px;
}

.aboveNav {
  background-color: rgba(7, 13, 22, 0.5);
  width: 25rem;
  height: 25rem; 
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: white;
  border-radius: 30px;
}

.container {
  padding: 15px;
}